.section1 {
    color: black;
    padding-left: 10%;
    padding-top: 5%;
  }
  .section2 {
    display:flex;
    justify-content: space-between;
    padding-top: 10%;
    padding-bottom: 5%;
    color: black;
    padding-left: 10%;
  }
  .left, .first_name {
    float: left;
  }
  .right {
    border: solid black;
    padding: 50px;
    display: flex;
    margin-right: 200px;
 
  }
 
  .last_name {
    float: right;
  }
  .input1 {
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 2px solid black;
  }
  .message{
    width: 100%;
    height: 200%;
    padding: 5px;
    border: 2px solid black;
  }
  
  .textarea {
    border: 2px solid black;
    width: 100%;
    padding: 10px;
  }
  
  .button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    width: 21%;
    cursor: pointer;
    border-radius: 10px;
    border: #4CAF50;
  }
  .h1{
    font-size: 50px;
  }
  .p{
    font-size: 25px;
  }
  .h2{
    font-size: 25px;
  }
 
  .required {
    color: red;
    margin-left: 5px;
  }
  