* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: white; */
  /* background-color: black; */
}
body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
 display: flex;
 flex-direction: column;
 /* background-color: black; */


}
.background{
  /* background-image: url("https://images.unsplash.com/photo-1568832359672-e36cf5d74f54?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: -1;
}

/* .background-image{
  opacity: 0.2;
  z-index: -1;
  margin: 0;
  padding: 0;
  top: 0;
  left:0;
  background-size: cover;
  background-repeat: repeat; 
 
} */
.title{
      font-size: 55px;
      font-weight: bold;
      margin-bottom: 2rem;
      color: rgb(66, 177, 23);
    }
    .ServicesHeader{
      flex: 1;
      padding: 20px;
      margin-top: 50px;
      margin-left: 100px;
      margin-bottom: 50px;
      font-size: 20px;
      position: relative;
    }
    .cards{
      padding: 20rem;
      background-color: rgb(34, 181, 218);
      opacity: 0.5;
    }
    .ServicesFooter{
      padding: 10px;
      margin-left: 100px;
      margin-bottom: 20px;
      font-size: 20px;
      margin-right: 100px;
      text-align: justify;
    }
    .Header{
      margin-left: 0px;
      float: right;
      margin-right: 5rem;
      position: relative;
      background-color: #e9f2e5;
      padding: 5px;
      margin-bottom: 50px;
      border-radius: 15px;
      box-shadow: 0px 0px 10px rgba(0,0,0,50);
    }
    .top{
      display: flex;
      align-items: center;
      margin-top: 10rem;
      margin-bottom: 5rem;
    }
    .tech2{
      border-radius: 15px;
      width: 500px;
    }

    .getintouch{
      color: black;
      background: linear-gradient(rgb(72, 224, 72),rgb(30, 163, 161));
      padding: 15px;
      border-radius: 25px;
      margin-top: 25px;
      margin-left: 120px;
      border: 2px solid white;

      margin-bottom: 10rem;
      
    }
    .getintouchinfo{
      padding: 20px;
      margin-left: 100px;
      font-size: 20px;
      margin-left: 100px;
    }

    
  