body {
    /* background-image: url('/Nature.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: scroll;


}

.productHeader {
    flex: 1;
    font-size: 20px;
}

.product-box {
    /* border: 1px solid grey; */
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 0 1rem;
    background-color: #E5E4E2;
}

.product-card {
    /* border: 1px solid grey; */
    padding: 10px;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    margin-bottom: 20px;
    gap: 30px;
    background-color: white;

    /* border-radius: 8px; */
    box-shadow: 0 4px 8px rgba(165, 69, 69, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.product-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}

.image-card {
    width: 300px;
    height: fit-content;
}

.view-button {
    border-radius: 8px;
    border: 1px solid #4a00ff;
    background-color: #4a00ff;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px;
    margin-top: 1rem;
}

.titleHead {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 3%;
    color: rgb(66, 177, 23);
}

.products-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.single-card {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 410px;
    height: 460px;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 10px;
    font-family: "Poppins";
    background-color: #ffffff;
    margin-bottom: 2rem;
    transition: all 0.5s;
    position: relative;
}

/* .single-card:hover {
    padding-top: 20px;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .1);
} */

.card-des {
    height: 150px;
    overflow-y: scroll;
    font-size: 16px;
    font-weight: 400;
    font-family: "poppins";
}

.card-des::-webkit-scrollbar {
    display: none;
}


/* .card-img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
} */
.single-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
}

.single-card:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}

.single-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: scale(1.2, 1.2);
}

.single-card:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}

.card-img {
    width: 100%;
    height: 250px;


}


/* product.css */
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-content {
    font-size: 24px;
    color: #333;
}

.basic-1 {
	padding-top: 8.5rem;
	padding-bottom: 10rem;
}

.basic-1 .text-container {
	margin-bottom: 4rem;
}

.basic-1 .hr-heading {
	display: inline-block;
	margin-top: 0.25rem;
	margin-bottom: 1.375rem;
}

.basic-1 .list-unstyled .fas {
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.basic-1 .list-unstyled .media-body {
	margin-left: 0.5rem;
}
