
body {
    background-color: #ffffff;
  }
  
  /* product page card */
  .product-card {
    border: 1px solid grey;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    margin-bottom: 20px;
    gap: 30px;
  }
  .image-card {
    width: 300px;
    height: fit-content;
  }
  .view-button {
    border-radius: 8px;
    border: 1px solid #000000;
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px;
  }
  